@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* CUSTOM CSS */
.sans {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.sans-bold {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
}

.circle {
  width: 3125px;
  height: 3125px;
  background-color: blue;
  opacity: 0.05; 
  border-radius: 50%;
  animation: colorChange 7s infinite alternate;
}

@keyframes colorChange {
  0% {
    background-color: #3498db; /* Blue */
  }
  10% {
    background-color: #9b59b6; /* Purple */
  }
  20% {
    background-color: #e74c3c; /* Red */
  }
  30% {
    background-color: #f39c12; /* Orange */
  }
  40% {
    background-color: #f1c40f; /* Yellow */
  }
  50% {
    background-color: #2ecc71; /* Green */
  }
  60% {
    background-color: #1abc9c; /* Cyan */
  }
  70% {
    background-color: #3498db; /* Blue */
  }
  80% {
    background-color: #87CEEB; /* Light Blue */
  }
  90% {
    background-color: #1E90FF; /* Dodger Blue */
  }
  100% {
    background-color: #3498db; /* Blue */
  }
}

.circle-content {
  width: 100%;
  height: 100%;
}

/* remove clerk badge */
.cl-internal-b3fm6y {
  display: none;
  background-color: white !important;
}

.text-color {
  color: #171c20;
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}